/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --lightgrey: #d9d9d9;
  --grey: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, rgb(255, 94, 0));
  --appColor: #3c3f45;
}

*{
  scroll-behavior: smooth;
}

/* .App {
    background-image: url(./assets/images/background1.jpg);
    mix-blend-mode: overlay;
    background-color: var(--appColor);
    display: flex;
    flex-direction: column;
    /* gap: 6rem; */

::-webkit-scrollbar{
  display: none;
}

/* .stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
} */

.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;
}
