.workoutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.workoutCard {
  width: calc(25% - 40px);

}

.exerciseContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.exerciseCard {
  width: calc(20% - 40px);
  width: 40vh;
}
.specificCard > .exerciseCard{
  width: 30vw;
  display: flex;
  flex: wrap;
  flex-direction: column;

}
.selectedCard{
  display: flex;
  flex: wrap;
  flex-direction: column;
   ;
}
.selectedCard> div{
  margin: 1em;
  padding: 1em;
}

.check-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.check-box {
  left: 25px;
}

h5 {
  text-align: center;
}

li{
  color: white;
  text-align: center;
}

span {
  color: white;
  text-align: center;
}

