.header{
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 8rem;
    height: 8rem;
}

.navbar{
    display: flex;
    gap: 2rem;
    color: white;
    margin: 3rem;
    z-index: 1;
}

.nav-link:hover{
    cursor: pointer;
    color:black;
    cursor: pointer;
}

.button-override{
    padding-top: 0px
}