
.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: var(--orange);
    width: 8rem;

}
.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.right-h>.btn{
    position: absolute;
    right: 3rem; 
    top: 2rem;
    color: black;
}
.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}
.heart-rate>img{
    width: 2rem;
}
.heart-rate>:nth-child(2){
   color: var(--grey); 
}
.heart-rate>:nth-child(3){
    color: white; 
    font-size: 1.5rem;
 }

 .hero-image{
    position: absolute;
    right: 8rem;
    top: 10rem;
    width: 23rem;
 }
 .hero-image-back{
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
 }
 .calories{
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 38rem;
    right: 28rem;
 }
 .calories>img {
    width: 3rem;
 }
 .calories>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .calories>div>:nth-child(1){
    color: var(--grey);
 }
 .calories>div>:nth-child(2){
    color: white;
    font-size: 1.5rem;
    
 }