/* .right-h>.btn{
    position: absolute;
    right: 3rem; 
    top: 2rem;
    color: black;
} */

 .hero-image{
    position: absolute;
    right: 8rem;
    top: 10rem;
    width: 23rem;
 }
 .hero-image-back{
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
 }