@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url(../assets/images/background1.jpg);
}

.App {
  display: flex;
}

.main {
  flex: 3;
}

.left-h{
  padding: 1.5rem;
  padding-top: 2rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.the-best-ad{
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: 400px;
  padding: 10px 13px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-best-ad>span{
  z-index: 2;
}

#best-text{
  position: absolute;
  background-color: orange;
  border-radius: 3rem;
  z-index: 1;
  padding: 5px;
}

#no-background {
  background: none !important;
  margin-left: 80px;
}

.home-text{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-overflow: inherit;
}
.home-text>div:nth-of-type(3){
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.right-h {
  flex: 1;
  background-color: #f48915;
  z-index: 0;
}

.signUpBtn {
  position: absolute;
  margin: 2.5rem 7rem;
  z-index: 1 !important;
}